@using Monitor_2.Models.Currency
@model CurrentCpValue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CurrentCpValue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyPair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyPair.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
