@using Monitor_2.Models.Currency
@model IEnumerable<CurrentCpValue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyPair)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyPair.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
